* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ESTILOS PARA INDEX.HTML */

body {
    background-image: url("../img/codigo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    margin: 4rem 0;
    font-size: 3rem;
}

header h1 {
    color: white;
}

.container-btn {
    text-align: center;
    margin: 2rem 0;
}

.btn-cv {
    border: 1px solid black;
    padding: 1rem;
}

.btn-cv:hover {
    background-color: black;
    color: white;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    box-shadow: 5px 5px 5px black;
    background-color: aliceblue;
}

.card:hover {
    transform: scale(1.1);
}

.card-title {
    border: 1px solid black;
    padding: 0.5rem;
    width: 12rem;
    text-align: center;
    /* box-shadow: 5px 5px 5px black; */
}

/* .card-img {
    box-shadow: 5px 5px 5px black;
} */

.card-body {
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem 3rem;
}

/* ESTILOS PARA SOBRE MI.HTML */

.sobreMi-header {
    text-align: left;
    margin-left: 2rem;
    display: flex;
    justify-content: space-around;
}

.sobreMi-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreMi-habilidades {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}