* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
}
/* ESTILOS PARA INDEX.HTML */

body {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 2rem;
    margin-top: 3rem;
}

/* estilos h1 tipeo */

#typed-text {
    color: #fff;
    font-size: 3rem;
    max-width: 100%; /* Establecer un ancho máximo */
    border-right: .15em solid orange; /* Cursor efecto tipeo */
    font-family: "Fira Code", monospace;
    white-space: nowrap; /* Evitar que el texto se rompa */
    overflow: hidden; /* Ocultar texto adicional */
    animation: typing 3s steps(38, end), blink-caret .5s step-end infinite; /* Animación de tipeo y cursor */
  }
  
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(250, 250, 249);
    }
  }
  

/* .header-nombre {
    text-align: center;
    margin: 4rem 0;
    font-size: 3rem;
} */

/* .header-nombre h1 {
    color: white;
    text-shadow: 7px 5px 5px rgba(187, 192, 232, 0.79);
    font-size: 5rem;
    font-weight: 300;
} */

/* h1:hover {
    background: #ccc;
    background: linear-gradient(90deg, #7779fc, #01417c);
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 2px rgba(187, 192, 232, 0.79);
} */

.container-btn {
    text-align: center;
    margin: 2rem 0;
}

.btn-cv {
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 30px;
}

.btn-cv:hover {
    background: linear-gradient(180deg, #7779fc, #01417c);
    color: white;
    box-shadow: 10px 10px 10px rgb(0, 30, 255);
    
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: aliceblue;
    width: 200px;
    height: 300px;
    border: 1px solid #000;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    cursor: pointer;

}

.card:hover {
    box-shadow: 10px 10px 10px rgb(0, 30, 255);
    /* background: linear-gradient(180deg, #7779fc, #01417c); */
    color: white;
}

.card.expanded {
    width: 80%;
    height: 90vh;
    /* 90% de la altura de la ventana */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.card-back {
    display: none;
    height: 100%;
    overflow-y: auto;
}

.card.expanded .card-front {
    display: none;
}

.card.expanded .card-back {
    display: block;
}

.card-title {
    /* border: 1px solid black; */
    padding: 0.5rem;
    width: 12rem;
    text-align: center;
}

.card-body {
    text-align: center;
    /* border: 1px solid black; */
    padding: 0.5rem 3rem;
}


/* ESTILOS PARA SOBRE MI */

.card-back {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sobreMi-header {
    text-align: center;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobreMi-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreMi-titulo {
    color: white;
    font-size: 3rem;
    text-shadow: 7px 5px 5px rgba(187, 192, 232, 0.79);
}

.descripcion {
    font-size: 1rem;
    color: white;
    margin: 0 2rem;
}

.sobreMi-habilidades {
    display: flex;
    align-items: left;
    margin-top: 3rem;
    flex-direction: column;
}

.habilidades-titulo {
    color: white;
}

.habilidades-lista {
    color: white;
}

.habilidadesDuras {
    margin: 1rem;
    padding: 1rem;  
}

.habilidadesBlandas{
    margin: 1rem;
    padding: 1rem;  
}


/* TITULOS Y CERTIFICACIONES */

.card-img-titulos {
    background-image: url("../img/titulos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-titulos:hover {
    background-color: transparent;
    color: black;
}




/* FOOTER */

footer {
    margin-top: 3rem;
}

.footer-p{
    text-align: center;
    color: white;
}


/* media queries */

@media screen and (max-width: 320px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .header-nombre {
        margin: 1rem;
    }

    #typed-text {
        font-size: 1rem;
        margin-top: 0.5rem;
        white-space: normal;
    }

    .container-btn {
        margin: 1rem;
    }

    .btn-cv {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .card-container {
        flex-direction: column;
        gap: 2rem;
    }

    .card-back {
        width: auto;
    }

    .sobreMi-img {
        display: none;
    }

    .sobreMi-titulo {
        font-size: 1.3rem;
    }

    .sobreMi-descripcion{
        margin-top: 0.5rem;
    }
    .descripcion {
        text-align: center;
        font-size: 0.7rem;
        margin: auto;
    }

    .habilidades-titulo {
        text-align: center;
    }

    .habilidades-lista{
        font-size: 0.7rem;
    }
}